{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}

<h1>Dashboard</h1>
    <!--table with two columns displaying the user's username and their favorite kdrama-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Your Username</th>
                <th>Your Favorite Kdrama</th>
            </tr>
        </thead>

        <tbody>
            {% for row in favoritekdrama %}
            <!--favoritekdrama refers to the query for the user's favorite kdrama in the users table-->
            <!--the code below inserts the username and favoritekdrama values into the table-->
                <tr>
                    <td>{{ row["username"] }}</td>
                    <td>{{ row["favoritekdrama"] }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <!--creates the form for the user to update their favorite kdrama-->
    <form action="/dashboard" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="newfavoritekdrama" name="newfavoritekdrama" placeholder="New Fav Kdrama" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Update Favorite Kdrama</button>
    </form>

{% endblock %}