/* https://www.w3schools.com/cssref/css_selectors.php */

body {
    background-color: #ffffff;
    color: #001845;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 2;
    text-align: center;
}

.basic {
    font-family: Verdana;
    color: #33415C;
    font-size: 16px;
    text-align: center;
}

.subtitle {
    font-family: Verdana;
    color: #001845;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 30px;
}

/* h1 tags for titles of trope pages */
h1 {
    font-size: 40px;
    font-weight: 700;
    color: #0353A4;
    font-family: 'Verdana';
    font-weight: 700;
    margin-bottom: 10px;
}

/* h3 tags used for the iconic scenes titles on the left side */
h3 {
    font-size: 25px;
    font-weight: 700;
    color: #6699CC;
    font-family: 'Verdana';
    font-weight: 600;
    margin-bottom: 10px;
}

/* child refers to the text (on the left) within the box on iconic scenes page */
.child {
    border: 5px solid #001845;
    float: left;
    padding: 2em;
}

/* edits the videos (right) section of the iconic scenes page, changes the spacing on top/bottom of the block of videos */
.child1 {
    padding: 1em;
}

/* parent is the class for the box around the text on the iconic scenes page*/
@media {
    .parent{
        display: flex;
        box-sizing: border-box;
    }
}

/* photos for the specific trope pages */
#photo  {
    float: left;
     margin: 0 20px 0 0;
    }

.class {
text-decoration-color: none;
color: black;
text-decoration: none;
}

header {
    font-family: Verdana;
    line-height: 1.5;
    margin: 2;
    margin-bottom: 40px;
    text-align: center;
    font-size: 2em;
    padding: 1em;
    background-color: #001845;
    border: 1px solid transparent;
    border-radius: 16px;
    text-align: center;
}

/* some elements taken from https://getcssscan.com/css-buttons-examples */
.btn-large {
    background-color: #0466C8;
    border: 1px solid black;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 15px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width:20%;
}

/* code for wider button */
.btn-wide {
    background-color: #0466C8;
    border: 1px solid black;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 15px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width:30%;
}

.card {
    background-color: #0466C8;
    border-color: #000000;
    text-align: center;
    width: 40em;
}

.hometext {
    font-family: Verdana;
    color: #001845;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
}

.answer {
    font-family: Verdana;
    color: #023E7D;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

/* css code for the start and pause buttons on Iconic Scenes page */
.button {
    width: 48px;
    height: 48px;
    cursor: pointer;
    &:hover {
      fill: white;
    }
  }

  .defs {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

/* css code for the videos on the Iconic Scenes page */
  iframe {
    float: left;
    width: 380px;
    height: 250px;
  }

  .buttons {
    padding: 1rem;
    float: left;
  }

